@import "vars";
@import "reset";
@import "ui";

body {
  font-family: "Roboto", sans-serif;
}

@font-face {
  font-family: "UniSansHeayBold";
  src: url("../fonts/UniSans.ttf");
  font-weight: bold;
  font-style: normal;
}

.container {
  max-width: $maxWidthContainer;
  margin: 0 auto;
  padding: 0 20px;
}

//Header ========================

@import "header";

//Main content =================

@import "main";


// Products slider (main content) =====================

@import "products_slider";


//BRANDS BRANDS-SLIDER ====================

@import "brands";

// Text-block ======================

@import "text-block";

// Page info ===========================

@import "page-info";

//Footer ===================

@import "footer";